#free {
  margin-top: 150px;

  .free {
    h1 {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 72px;
      text-align: center;
      letter-spacing: -0.02em;
      color: rgba(0, 0, 0, 0.9);
    }

    &__img {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
